<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		

		<target xsi:type="File"

                name="debugfile"

                fileName="${basedir}/logs/${level}/${shortdate}_debug.log"

                keepFileOpen="false"

                layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File"

                name="infofile"

                fileName="${basedir}/logs/${level}/${shortdate}_info.log"

                keepFileOpen="false"

                layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File"

				name="errfile"

				fileName="${basedir}/logs/${level}/${shortdate}_error.log"

				keepFileOpen="false"

				layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />

	</targets>

	<rules>

		<logger name="*" level="Debug" writeTo="debugfile" />

		<logger name="*" level="Error" writeTo="errfile" />

		<logger name="*" level="Info" writeTo="infofile" />

		

	</rules>

</nlog>